.postInfo {
  margin-bottom: 65px;
  span {
    color: var(--gray-400);
    font-size: 14px;

    & + span {
      margin-left: 24px;
    }
  }

  p {
    color: var(--gray-400);
    margin-top: 16px;
    font-style: italic;
    font-size: 14px;
  }
}

.exitPreviewContainer {
  width: 50%;
  height: 50px;
  background-color: var(--white);
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
