* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background: #1a1d23;
  --pink-900: #ff57b2;
  --white: #f8f8f8;
  --gray-400: #bbbbbb;
  --gray-100: #d7d7d7;
}

@media (min-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (min-width: 720p) {
  html {
    font-size: 87.5%;
  }
}

body,
input,
button,
text-area,
span {
  background: var(--background);
  font-family: 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}
