.container {
  width: 100%;
  margin-top: 30px;

  > div {
    width: 50%;
    margin: 0 auto;
    cursor: pointer;

    h2 {
      margin-bottom: 8px;
      color: var(--white);
    }

    p {
      color: var(--gray-100);
      font-size: 18px;
      margin-bottom: 24px;
    }

    & + div {
      margin-top: 50px;
    }
  }

  .paginationContent {
    cursor: initial;
    button {
      color: var(--pink-900);
      font-size: 18px;
      font-weight: 600;
      border: none;
    }
  }
}
